@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@fontsource/noto-sans-thai/400.css';
@import '@fontsource/noto-sans-thai/500.css';
@import '@fontsource/noto-sans-thai/700.css';

body {
  font-family: 'Noto Sans Thai', sans-serif;
}

